h1{
	font-family: 'Aldrich';
	font-size: 26px;
	line-height: 26px;
	margin: 0;
	position: relative;
	font-weight: 300;
	color: #666;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
}
h1 span{
	font-weight: 700;
}